[submodule "jsaddle"]
	path = jsaddle
	url = ./jsaddle
[submodule "ghcjs-dom"]
	path = ghcjs-dom
	url = ./ghcjs-dom
[submodule "ghcjs-base"]
	path = ghcjs-base
	url = ./ghcjs-base
[submodule "jsaddle-dom"]
	path = jsaddle-dom
	url = ./jsaddle-dom
